#leftaside
  #profile
    #profile_cover
    span 脆餅馬沙拉
  ul#navigation
    li
      a(href='./Index.html') 探索
    li
      a(href='https://strong5566.github.io/cram_hsinchu/cramMap/web/cram-mobile.html', target='_blank') 地圖瀏覽
    li
      a(href='./Class.html') 課程資訊
    li
      a(href='./Favorite.html') 收藏
    li
      a(href='#') 更多
  #version v0.1.0
