.class_content
  .class_name 史上最棒免費作文班
  .class_phone
    span.class_subtitle 開課單位：
    a(href='./School.html' data-iframe) XX文理補習班讓你考試永遠都拿100分那你要不要快來報名
  .class_duration
    span.class_subtitle 課程期間：
    | 2017/11/11 - 2018/11/11
  .class_hours
    span.class_subtitle 上課時數：
    | 10,000小時
  .class_link
    a(href="http://www.accupass.com/" data-iframe) 前往課程