extends ./component/template/tmp_common

block css
  link(rel='stylesheet', href='https://unpkg.com/leaflet@1.0.3/dist/leaflet.css', integrity='sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==', crossorigin='')
  link(rel='stylesheet', href='/css/MarkerCluster.css')
  link(rel='stylesheet', href='/css/MarkerCluster.Default.css')


block js
  script(src='https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js', integrity='sha512-WXoSHqw/t26DszhdMhOXOkI7qCiv5QWXhH9R7CgvgZMHz1ImlkVQ3uNsiQKu5wwbbxtPzFXd1hK4tzno2VqhpA==', crossorigin='')
  script(src='/js/leaflet.markercluster-src.js')
  script(src='/js/realworld.test.js')

block content
  #topbar
    #navigation_button.topbar_button
    #topbar_title 地圖瀏覽

  #main
    #Map