extends ./component/template/tmp_simple

block content
  #School
    .school_wrap 
      .item_content
        .item_name {{item['補習班名稱']}}
        .item_info
          span.item_subtitle 地址：
          span.item_data {{item['地址']}}
        .item_info
          span.item_subtitle 電話：
          span.item_data {{item['電話']}}
        .item_info
          span.item_subtitle 登記類別/科目：
          span.item_data {{item['補習班類別/科目']}}
        .item_info
          span.item_subtitle 開課科目：
          span.item_data.item_subject(v-for="data in item['科目']") {{data}}

    .school_wrap(v-if="item['評價']")
      .item_content
        .school_wrap_subtitle 評價
        .item_rate
          .item_rate_bar
            .item_rate-positive(:style="{width: item['評價'].rate[0] + '%'}")
            .item_rate-neutral(:style="{width: item['評價'].rate[1] + '%'}")
            .item_rate-negative(:style="{width: item['評價'].rate[2] + '%'}")
        .item_comments
          ul
            li(v-for="data in item['評價'].comments.slice(0, 10)")
              .item_comment_title
                //- span {{rank(data.score)}}
                a(:href='data.url') {{data.title}}
              .item_comment_summary {{data.summary}}
                

    .school_wrap
      .item_content
        .school_wrap_subtitle 教室資訊
        .item_info
          span.item_subtitle 教室數：
          span.item_data {{item['教室數']}}
        .item_info
          span.item_subtitle 教室面積：
          span.item_data {{item['教室面積']}}
        .item_info
          span.item_subtitle 班舍總面積：
          span.item_data {{item['班舍總面積']}}

    div(v-if="item['違規紀錄']")
      .school_wrap(v-if="item['違規紀錄'].length > 0")
        .item_content
          .school_wrap_subtitle 違規紀錄
          div(v-for="data in item['違規紀錄']")
            .item_info
              span.item_subtitle 日期1：
              span.item_data {{data['日期1']}}
            .item_info
              span.item_subtitle 違規：
              span.item_data {{data['違規']}}
            .item_info
              span.item_subtitle 日期2：
              span.item_data {{data['日期2']}}

    div(v-if="item['違規紀錄-泳']")
      .school_wrap(v-if="item['違規紀錄-泳'].length > 0")
        .item_content
          .school_wrap_subtitle 違規紀錄
          .item_info
            span(v-for="data in item['違規紀錄-泳']") {{data}}

    .school_wrap
      .item_content
        .school_wrap_subtitle 立案資訊
        .item_info
          span.item_subtitle 是否立案：
          span.item_data {{item['立案情形']}}
        .item_info
          span.item_subtitle 立案日期：
          span.item_data {{item['立案日期']}}
